body { 
padding:1em !important;
font-family: Optima;
/*font-family: Baskerville;*/
/*font-size: 12pt;*/
line-height: 1.3;
/*word-spacing:1.1pt;*/
/*letter-spacing:0.2pt;      */
      }

code { font: 10pt Courier, monospace; 
       color: #A0E7E5;
     }  
pre { font: 10pt Courier, monospace; } 
blockquote { 
      margin: 1.2em; 
      font-size: 11pt; 
      font-family: Futura;
      color: #ACBCBF;
      /*border-right: 4px solid #4c566a; */
      /*padding: 5pt;  */
           }

h1,h2,h3,h4,h5,h6 { color: gold; } 
h1 { font-size: 1.7rem; }
h2,h3 { font-size: 1.5rem; }
h4,h5,h6{font-size:12pt;}

a:link, a:visited { color: #88c0d0; }

.small-caps { font-variant: small-caps; }

hr {
      background-color: yellow;
      height: 1px; /* Adjust thickness as needed */
      border: none; /* Remove default border */
      opacity: 1; /* Ensure full visibility if Bootstrap applies opacity */
    }

/* Stet list-style: none but ck 
if others are required after next commit 
to fix toc auto bulleting of TOCs only; 
se these styles and cf bootstrap overrides. ::

#TOC { list-style: none; 
       background-image: none;
       background-repeat: none;
       background-position: 0; 
     }


ul {
  list-style-type: square;
  padding: 1em;
margin: 0em; 
  list-style-position: outside; 
}
*/











